<%- include('../header.ejs') %>

<div class="gg-container">
        <div class="gg-box" data-theme="dark">
      <% photos.forEach(function(photo) { %>
              <img class="lazy" data-src="<%= photo.url %>">
      <% }); %>
        </div>
</div>

<%- include('../footer.ejs') %>
