<%- include('../header.ejs') %>

    <%- include('../partials/page-title.ejs', {
          title : 'New Flock'
    }) %>

    <div>
      <h5><label>Name</label></h5>
      <input type="text" id="flockName" class="form-control mb-3" style="width: 100%">

      <h5><label>Description</label></h5>
      <textarea id="flockDescription" maxlength="500" class="form-control mb-3" style="height: 150px; width: 100%;"></textarea>

      <button id="actionButton" class="btn btn-light" type="button">Create</button>
    </div>

  <script>
    $('#actionButton').on('click', function (e) {
      var container = e.currentTarget.parentNode;

      if (!container.classList.contains('loadingData')) {
        toggleFields(container, true);

        API.call('flock', 'POST', {
           name: $('#flockName').val(),
           description: $('#flockDescription').val()
          },
          function(data) {
            window.location.replace(`/flocks/${data}/manage`);
          }
        );
      }
    });

    function toggleFields (container, disabled) {
      container.classList[disabled ? 'add' : 'remove']('loadingData');

      container.querySelector('input').disabled = disabled;
      container.querySelector('textarea').disabled = disabled;
      container.querySelectorAll('button').forEach( function (button) {
        button.disabled = disabled;
      });
    }
  </script>

<%- include('../footer.ejs') %>
