<%- include('../header.ejs') %>

    <%- include('../partials/page-title.ejs', {
          title : 'New Flock'
    }) %>

    <form method="POST">
      <h5><label>Name</label></h5>
      <input type="text" name="name" class="form-control mb-3" style="width: 100%">

      <h5><label>Description</label></h5>
      <textarea name="description" maxlength="500" class="form-control mb-3" style="height: 150px; width: 100%;"></textarea>

      <button class="btn btn-primary" type="submit">Save Changes</button>
    </form>

<%- include('../footer.ejs') %>
