<%- include('../header.ejs') %>

  <%- include ('../partials/page-title.ejs', { title : member.username }) %>

  <div class="row">
    <p class="text-center"><em>This member would prefer to keep their profile private!</em></p>
  </div>

<%- include('../footer.ejs') %>
