<div class="col-md-3 filter-item" data-category="${birdypet.species.family.toLowerCase()}">
  <div class="pb-4">
    <div class="card">
      <a href="/birdypedia/bird/${birdypet.id}">
        <div class="lazy birdypet birdypet-${userpets.includes(birdypet.id * 1) ? "hatched" : "unhatched"}"
             data-id="${birdypet.id}"
             data-credit="${birdypet.credit}"
             data-original="${birdypet.illustration}"
             data-bg="https://storage.googleapis.com/birdypets/${birdypet.species.order}/${birdypet.species.family}/${birdypet.species.scientificName}/${birdypet.id}.jpg"
        ></div>
      </a>
      <h3 class="text-center"><a href="/birdypedia/bird/${birdypet.id}">${birdypet.species.commonName}</a></h3> 
      <h6 class="text-center">${birdypet.version}&nbsp;${birdypet.label}</h6>
    </div>
  </div>
</div>
