<% if (!friendship || isNaN(friendship)) { friendship = 0; } %>

<p>
  Friendship: <%= ['ðŸ’œ', 'ðŸ’™', 'ðŸ’š', 'ðŸ’›', 'ðŸ§¡', 'â¤ï¸', 'ðŸ’–', 'ðŸ’•', 'ðŸ’ž'].slice(0, Math.max(1, Math.floor(friendship / 10))).join("") %>
</p>
