<% if (!friendship || isNaN(friendship)) { friendship = 0; } %>

<p>
  Friendship: <%= friendship < 10 ? 'ðŸ¤' : ['ðŸ’œ', 'ðŸ’™', 'ðŸ’š', 'ðŸ’›', 'ðŸ§¡', 'â¤ï¸', 'ðŸ’–', 'ðŸ’—', 'ðŸ’•', 'ðŸ’ž'].slice(0, Math.floor(friendship / 10) + 1).join("") %>
</p>
