<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
<script src="/js/stratum.min.js"></script>

<div id="image-gallery" class="text-center">
<% photos.forEach( function (photo) { %>
  <%- include('photo.ejs', { photo : photo, gallery: true } ) %>
<% }) %>
</div>

<script type="text/javascript">
  $('#image-gallery').stratum({
    columns: 4,
    padding: 5
  });

  const lightbox = GLightbox();

  var baseUrl = window.location.href;

  lightbox.on('open', function () {
    var photoId = getPhotoID();

    window.history.pushState(null, null, `/photos/${photoId}`);
  });

  lightbox.on('slide_before_change', function () {
    var photoId = getPhotoID();

    window.history.replaceState(null, null, `/photos/${photoId}`);
  });

  lightbox.on('close', function () {
    window.history.go(-1);
  });

  function getPhotoID () {
    return lightbox.elements[lightbox.index].node.getAttribute('data-id');
  }
</script>
