  <% if (locals.loggedInUser && loggedInUser.happyBirdday && loggedInUser.birthdayPresentClaimed != 1) { %>
    <div class="bg-light w-75 mx-auto my-4 d-flex rounded p-3 align-items-start">
      <img src="https://storage.googleapis.com/squawkoverflow/stickers/surprise_5839323.png">

      <div>
        <h4>Happy Birthday!!</h4>

        <p>To celebrate your birthday, you can pick any BirdyPet you'd like!  Just click the <button class="btn btn-sm btn-dark">🎉</button> on whichever you want.</p>
      </div>
    </div>
  <% } %>
