    <div class="row">
      <div class="col-md-6 text-center mb-3">
        <img id="birdy" class="lazy birdypet full">

        <div id="birdDisplay" class="p-1 mt-3 birdypets text-center"></div>
      </div>
      <div class="col-md-6 text-center text-md-start">
        <h3>
          <a href="" target="_blank"></a>
        </h3>
        <h5 class="my-3"></h5>

        <div id="actions" class="mt-5 text-center">
          <a data-action="keep" class="btn btn-lg btn-light mb-3" role="button">❤️&nbsp;Keep</a>
          &nbsp;
          <a data-action="release" class="btn btn-lg btn-light mb-3" role="button">👋&nbsp;Release</a>

          <div id="memberSearch">
            <div class="row text-center mt-3">
              <div class="col-6 p-3">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="member-wants" checked>
                  <label class="form-check-label" for="member-wants">
                    ❤️ Wants it
                  </label>
                </div>
              </div>

              <div class="col-6 p-3">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="member-needs" checked>
                  <label class="form-check-label" for="member-needs">
                    🌟 Needs it
                  </label>
                </div>
              </div>
            </div>

            <input class="typeahead form-control" type="text" autocomplete="off" name="don't autocomplete me bro">

            <button id="memberButton" data-action="gift" class="mt-3 btn btn-lg btn-light" role="button" disabled>🎁&nbsp;Gift</button>
          </div>
        </div>
      </div>
    </div>
