  <div class="row">
    <div class="col-12 pb-3 text-end">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="progressDisplay" id="progressDisplayPercent" value="percent">
        <label class="form-check-label" for="progressDisplayPercent">%</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="progressDisplay" id="progressDisplayFraction" value="fraction">
        <label class="form-check-label" for="progressDisplayFraction">⁄</label>
      </div>
    </div>
  </div>
