<h5>How to Play</h5>

<p>You'll be presented with a grid of squares, behind which are various birds.</p>

<p>Clicking on a square will reveal the bird behind it; if the next square you click is its match, then you've made a pair! If not, then they both go back into hiding.</p>

<p>Pair all the birds to win the game!</p>
