<h5>How to Play</h5>

<p>You'll be presented with a random picture of a bird and given a list of five orders.</p>

<p>Using your knowledge of birds (or your best guess), try to pick the correct order for the pictured bird! Keep guessing until you get the correct answer. Then do the same with five families!</p>

<p>At the conclusion of the game, you'll see the bird's common and scientific names as well as gain friendship with your Birdy Buddy.</p>

<p>Don't worry if you're not good at avian taxonomy. Your Birdy Buddy will be happy to play regardless of your skill level.</p>
