<%- include('../header.ejs') %>

    <div class="row">
      <h2>Unidentified Birbs</h2>
      <hr>
    </div>

    <% if (photos.length > 0) { %>
      <%- include('../partials/gallery.ejs', { photos : photos }) %>
    <% } else { %>
      <p><em>There are no birbs needing identification right now. Yay!</em></p>
    <% } %>

<%- include('../footer.ejs') %>
