
  </div>
</main>

<% if (!locals.error) { %>
<footer>
  <hr>

  <div class="text-center">
    <p><small>All images &copy; their respective owners.  For takedown requests, <a href="mailto:seppukawaii+takedown@gmail.com">email us</a> with the URL of the photo you would like removed.</small></p>
    <p>&nbsp;</p>
  </div>
</footer>
<% } %>

  <script type="text/javascript">
    $(document).ready( function () {
      lazyLoadInstance.update();
    });
  </script>
</body>
</html>
