
  </div>
</main>

<% if (!locals.error) { %>
<footer>
  <hr>

  <div class="text-center">
    <p><small>All images &copy; their respective owners.  For takedown requests, <a href="mailto:seppukawaii+takedown@gmail.com">email us</a> with the URL of the photo you would like removed.</small></p>
    <p>&nbsp;</p>
  </div>
</footer>
<% } %>

<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.4.0/dist/lazyload.min.js" integrity="sha256-Uukz8+FlQ78tU43ix2oKDcK84sJpKYzuU8XweQ1DaU0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/filterizr@2.2.4/dist/vanilla.filterizr.min.js" integrity="sha256-XI1PitIc0U3YitVOqoylH9iLhbPm+XHfk12Nlbon7Ho=" crossorigin="anonymous"></script>

<script type="text/javascript">
  var lazyLoadInstance = new LazyLoad({ });

  try {
    $(document).ready(function() { 
      var filterizr = new window.Filterizr('.filter-container', {
        controlsSelector: '.filter-control',
        gridItemsSelector: '.filter-item',
        multifilterLogicalOperator: 'and',
        layout: 'sameWidth'
      });

      $('select.filter-controls').change(function() {
        var filters = [];

        filterizr.filter('all');

        $('select.filter-controls').each( function (key, select) {
          var value = select.options[select.options.selectedIndex].value;

          if (!filters.includes(value) && value != "all") {
            filters.push(value);
          }
        });

          filters.forEach( function (filter) {
             filterizr.toggleFilter(filter);
          });
      });

      updateFilters();
    });

    function updateFilters () {
      $('select.filter-controls').trigger('change');
    }
  } catch (err) {
    console.log(err);
  }
</script>

</body>
</html>
