
</div>
</main>

<footer>
  <hr>

  <div class="row">
    <div class="col text-center">
      <p>All images &copy; their respective owners.  For takedown requests, <a href="mailto:seppukawaii+takedown@gmail.com">email us</a> with the ID of the photo you would like removed.</p>
      <p>No personally identifing information is stored for visitors.</p>
    </div>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.4.0/dist/lazyload.min.js"></script>
	<script>
		var lazyLoadInstance = new LazyLoad({});
	</script>
</body>
</html>
