
  </div>
</main>

<% if (!locals.error) { %>
<footer>
  <hr>

  <div class="text-center">
    <p><small>All images &copy; their respective owners.  For takedown requests, <a href="mailto:seppukawaii+takedown@gmail.com">email us</a> with the URL of the photo you would like removed.</small></p>
    <p>&nbsp;</p>
  </div>
</footer>
<% } %>

<div id="loader" class="d-none">
  <div class="spinner-border d-block mx-auto" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/filterizr@2.2.4/dist/vanilla.filterizr.min.js" integrity="sha256-XI1PitIc0U3YitVOqoylH9iLhbPm+XHfk12Nlbon7Ho=" crossorigin="anonymous"></script>
  <script type="text/javascript">
    $(document).ready( function () {
      lazyLoadInstance.update();
    });
  </script>
</body>
</html>
