<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.4.0/dist/lazyload.min.js"></script>
<script type="text/javascript" src="/js/grid-gallery.min.js"></script>
	<script>
		var lazyLoadInstance = new LazyLoad({});
	</script>
</body>
</html>
