    </div>
  </main>

  <div id="sidebar" class="bg-light">
    <div class="d-flex flex-column py-5 ps-3 ps-sm-0">
      <% if (locals.sidebar) { %>
        <%- include(`./sidebar/${sidebar}.ejs`) %>
      <% } %>
    </div>
  </div>

  <div id="footer" class="bg-dark">
    <div class="w-75 m-auto">
      <p>All images are the property of their respective owners. If an image has been used in error, <a href="mailto:seppukawaii+takedown@gmail.com">please send a takedown request</a>.</p>
      <p><a href="/privacy-policy">Privacy Policy</a> | <a href="mailto:seppukawaii+squawkoverflow@gmail.com">Contact</a></p>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js" integrity="sha512-qOBWNAMfkz+vXXgbh0Wz7qYSLZp6c14R0bZeVX2TdQxWpuKr6yHjBIM69fcF8Ve4GUX6B6AKRQJqiiAmwvmUmQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script type="text/javascript">
    $(document).ready( function () {
      lazyLoadInstance.update();

      $('.mobile-nav-toggle').on('click', function () {
        $('body').toggleClass('mobile-nav-active');
      });

      $('.mobile-sidebar-toggle').on('click', function () {
        $('body').toggleClass('mobile-sidebar-active');
      });

     <% if (locals.loggedInUser) { %>
      $('#main').on('click', 'button.wishlist-heart', function (event) {
        var button = event.target;

        if (!button.style.opacity) { 
          var action = button.getAttribute('data-action');
          button.style.opacity = .5;
          button.innerHTML = '⏳';
          $.ajax({
            url: '/api/wishlist',
            data: JSON.stringify({
              species: button.getAttribute('data-id')
            }),
            method: 'PUT',
            dataType: 'json',
            contentType: 'application/json',
            success: function(data) {
              button.style.opacity = null;
              button.innerHTML = data;
            }
          });
        }
      });

      $('#feedBug').on('click', function (event) {
        var button = this;

        if (!button.style.opacity) {
          button.style.opacity = .5;

          $.ajax({
            cache: false,
            url: `/api/nomnomnom`,
            method: 'POST',
            dataType: "json",
            contentType: 'application/json',
            data: JSON.stringify({
              birdypet: button.getAttribute('data-birdypet')
            }),
            success: function(data) {
              if (!data.error) {
                $('.birdymessage').text(data.response).show();
                $('.friendshipMeter').text(data.friendshipMeter);

                button.childNodes[1].innerText = data.bugs;

                if (data.bugs == 0) {
                  button.disabled = true;
                }
                else {
                  button.style.opacity = null;
                }
              }
              else {
                button.innerText = data.error;
                button.disabled = true;
              }
            }
          });
        }
      });
    <% } %>
    });
  </script>

</body>

</html>
