    </div>
  </main>

  <div id="sidebar" class="bg-light">
    <div class="d-flex flex-column pt-3 ps-3 ps-sm-0">
      <% if (locals.sidebar) { %>
        <%- include(`./sidebar/${sidebar}.ejs`) %>
      <% } %>
    </div>
  </div>

  <script src="/js/main.js"></script>

</body>

</html>
