
  </div>
</main>

<% if (!locals.error) { %>
<footer>
  <hr>

  <div class="text-center">
    <p><script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support SQUAWKoverflow on Ko-fi', '#29abe0', 'C1C1G89B');kofiwidget2.draw();</script></p>
    <p><small>All images &copy; their respective owners.  For takedown requests, <a href="mailto:seppukawaii+takedown@gmail.com">email us</a> with the URL of the photo you would like removed.</small></p>
    <p>&nbsp;</p>
  </div>
</footer>
<% } %>

<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.4.0/dist/lazyload.min.js" integrity="sha256-Uukz8+FlQ78tU43ix2oKDcK84sJpKYzuU8XweQ1DaU0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/filterizr@2.2.4/dist/vanilla.filterizr.min.js" integrity="sha256-XI1PitIc0U3YitVOqoylH9iLhbPm+XHfk12Nlbon7Ho=" crossorigin="anonymous"></script>

<script type="text/javascript">
  var lazyLoadInstance = new LazyLoad({ });

  try {
    var filterizr = new window.Filterizr('.filter-container', {
      controlsSelector: '.filetr-controls',
      gridItemsSelector: '.filter-item',
      layout: 'sameWidth'
    });

    $('select.filter-controls').change(function() {
      var filters = [];

      $('select.filter-controls').each( function (key, select) {
        var value = select.options[select.options.selectedIndex].value;

        if (!filters.includes(value) && value != "all") {
          filters.push(value);
        }
      });

      filterizr.filter(filters.join(', '));
    });
  } catch (err) {
    console.log(err);
  }
</script>

</body>
</html>
