<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SQUAWK | home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="https://bootstrapmade.com/demo/templates/iPortfolio/assets/img/favicon.png" rel="icon">
  <link href="https://bootstrapmade.com/demo/templates/iPortfolio/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <link href="https://bootstrapmade.com/demo/templates/iPortfolio/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="https://bootstrapmade.com/demo/templates/iPortfolio/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://bootstrapmade.com/demo/templates/iPortfolio/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="https://bootstrapmade.com/demo/templates/iPortfolio/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="https://bootstrapmade.com/demo/templates/iPortfolio/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="https://bootstrapmade.com/demo/templates/iPortfolio/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/theme-default.css" rel="stylesheet">
</head>

<body>

  <i class="mobile-nav-toggle d-xl-none">≡</i>

  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="/img/SQUAWK.png" alt="logo" class="img-fluid d-none d-sm-block">
	<h1 class="text-light"><a href="/"><span class="text-primary">SQUAWK</a>overflow</a></h1>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <% siteMenu.forEach( function (item) { %> 
          <li class="nav-item">
            <a href="<%= item.href %>" class="nav-link p-0 py-2 ps-md-3 text-light">
              <span class="icon d-inline-block fs-4">
                <%= item.icon %>
              </span>
              <span class="d-none d-sm-block label">
                <%= item.label %>
              </span>
            </a>
          </li>
          <% }) %>
        </ul>
      </nav>
    </div>
  </header>

  <main id="main">
