<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SQUAWK | home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="https://bootstrapmade.com/demo/templates/iPortfolio/assets/img/favicon.png" rel="icon">
  <link href="https://bootstrapmade.com/demo/templates/iPortfolio/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <link href="https://bootstrapmade.com/demo/templates/iPortfolio/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="https://bootstrapmade.com/demo/templates/iPortfolio/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://bootstrapmade.com/demo/templates/iPortfolio/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="https://bootstrapmade.com/demo/templates/iPortfolio/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="https://bootstrapmade.com/demo/templates/iPortfolio/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="https://bootstrapmade.com/demo/templates/iPortfolio/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/theme-default.css" rel="stylesheet">
</head>

<body>

  <span class="mobile-nav-toggle d-xl-none bg-secondary text-primary">â‰¡</span>

 <% if (locals.sidebar) { %>
  <span class="mobile-sidebar-toggle d-xl-none bg-secondary text-primary"><%= sidebar == "info" ? "â„¹" : "ðŸ–" %></span>
 <% } %>

  <div id="navbar" class="bg-dark">
    <div class="d-flex flex-column pt-3 ps-3 ps-sm-0">

      <div class="ps-3 ps-sm-0">
        <img src="/img/SQUAWK.png" alt="logo" class="img-fluid d-none d-sm-block">
	<h2 class="text-center text-light"><span class="text-primary">SQUAWK</span>overflow</h2>
      </div>

      <nav class="nav-menu navbar">
        <ul>
          <% siteMenu.forEach( function (item) { %> 
          <li class="nav-item pb-2">
            <a href="<%= item.href %>" class="nav-link text-light">
              <span class="icon d-inline-block fs-4">
                <%= item.icon %>
              </span>
              <span class="d-block label">
                <%= item.label %>
              </span>
            </a>
          </li>
          <% }) %>
        </ul>
      </nav>
    </div>
  </div>

  <% if (locals.page && locals.page == "home") { %> 
    <div id="home-banner" class="full-image-background d-none d-md-block">
      <p class="bg-light text-secondary">welcome to</p>

      <h1 class="bg-secondary text-light border-bottom border-5 border-primary"><strong>SQUAWK</strong>overflow</h1>

      <p><em>the ultimate bird collecting game</em></p>

      <a class="attribution bg-light"></a>
    </div>
    <script type="text/javascript" src="/js/full-background-image.js" image="banner"></script>
  <% } %>

  <main id="main" class="pt-3">
    <div class="container">
