html, body {
	height: 100%;
	min-height: 100%;
}

main {
  min-height: 100%;
}

.chartreuse {
  color: #DDF600;
}

img {
	max-width: 100%;
}

.member-avatar { 
	border-radius: 100%;
}

.image-gallery {
  line-height: 0;
   
  -webkit-column-count: 4;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         4;
  column-gap:           0px;  
}

.image-gallery img {
  width: 100% !important;
  height: auto !important;
}

.error-page {
	background-attachment: fixed;
	background-size: cover;
}

.not-found h3, .not-found p, #attribution {
	display: inline-block;
	background: rgba(255, 255, 255, .75);
	color: rgba(100, 100, 100);
	padding: 10px;
}

.not-found h3 {
	font-size: 3em;
}

.not-found p {
	font-size: 2em;
}

.error-page #attribution {
	position: absolute;
	bottom: 15px;
	right: 15px;
}
