:root {
	--bs-primary: #DDF600;
	--bs-secondary: #444D00;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: var(--bs-primary) !important;
}

a:hover {
  color: var(--bs-secondary) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

img {
  max-width: 100%;
}

.hidden {
	visibility: hidden;
}

.bg-dark {
	background-color: var(--bs-dark) !important;
}

.bg-light {
	background-color: var(--bs-light) !important;
}

.text-primary {
	color: var(--bs-primary) !important;
}

.border-primary {
	border-color: var(--bs-primary) !important;
}

.page-link {
	background-color: var(--bs-body-bg) !important;
	color: var(--bs-body-color) !important;
	border-color: var(--bs-dark) !important;
}

.page-item.active .page-link {
	background-color: var(--bs-dark) !important;
	color: var(--bs-body-color) !important;
	border-color: var(--bs-primary) !important;
}

.page-link:hover {
	background-color: var(--bs-dark) !important;
	color: var(--bs-body-color) !important;
	border-color: var(--bs-dark) !important;
}

.btn {
	color: var(--bs-body-color) !important;
}

.btn:hover {
	color: var(--bs-primary) !important;
}

.form-check-input {
	background-color: #ffffff;
	border-color: var(--bs-body-color) !important;
}

.form-check-input:checked[type=checkbox] {
	background-color: #ffffff;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.form-switch .form-check-input:checked {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23000000'/%3e%3c/svg%3e");
}

.form-check-input:focus {
  box-shadow: 0 0 0 transparent;
}

.border-dashed {
  border-style: dashed !important;
}

#navbar,
#sidebar {
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  overflow-y: auto;
}

#navbar {
  position: fixed;
  left: 0;
  width: 300px;
}

#sidebar {
  left: unset;
  right: 0;
  min-height: 100%;
  overflow-y: visible;
  position: relative;
  flex-basis: 300px;
}

#main {
  flex: 1;
  margin: 0;
  padding: 0 0 5em 300px;
  min-height: 100vh;
}

#errorMessage {
  position: fixed;
  z-index: 9999;
  max-width: 400px;
  left: 50%;
  transform: translateX(-50%);
  margin-left: 150px;
}

#errorMessage::before {
  content: '⚠️';
  display: inline-block;
  margin-right: 1em;
}

.container {
  padding: 0 1em;
}

#footer {
  flex-basis: 100%;
  text-align: center;
  margin: 0;
  padding: 2em;
  font-size: 80%;
}

@media (max-width: 1399px) {
  #sidebar {
    right: -300px;
    overflow-y: auto;
    position: fixed;
    bottom: 0;
    flex-basis: 0;
    width: 300px;
  }

  #main {
    padding-right: 0;
  }
}

@media (max-width: 1199px) {
  #navbar {
    left: -300px;
  }

  #main {
    padding-left: 0;
  }

  #errorMessage {
	  margin-left: 0;
  }

  #home-banner .attribution {
    bottom: 60px;
  }
}

.no-sidebar #sidebar {
  display: none;
}

#navbar h2 a {
	color: var(--bs-body-color) !important;
}

#navbar h2 a:hover {
	color: var(--bs-primary) !important;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.nav-menu .icon {
  width: 2em;
  text-align: center;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  padding: 0;
  margin-bottom: 0;
  transition: 0.3s;
  font-size: 15px;
  color: var(--bs-body-color) !important;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 24px;
  padding-right: 8px;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  text-decoration: none;
  color: var(--bs-primary) !important;
}

/* Mobile Navigation */
.mobile-nav-toggle,
.mobile-sidebar-toggle {
  position: fixed;
  left: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}

.mobile-sidebar-toggle {
  right: 15px;
  left: auto;
}

.mobile-nav-active,
.mobile-sidebar-active {
  overflow: hidden;
}

.mobile-nav-active #navbar {
  left: 0;
}

.mobile-sidebar-active #sidebar {
  right: 0;
}

#home-banner {
  position: relative;
  height: 600px;
}

.full-image-background {
	background-position: center center;
}

#home-text {
  position: relative;
  text-align: center;
  top: -65px;
  margin-bottom: -65px;
}

#home-text h1,
#home-text p {
  display: inline-block;
  padding: 10px;
}

#home-text h1 {
  font-size: 4em;
}

#home-text p {
  font-size: 1.5em;
  letter-spacing: 4px;
}

@media (max-width:575px) {
  #home-text {
    top: -35px;
  }

  #home-text h1 {
    font-size: 2.5em;
  }

  #home-text p {
    font-size: 1em;
  }
}

.attribution {
  padding: 10px;
  position: absolute;
  font-size: .8em;
  bottom: 15px;
  right: 15px;
  opacity: .75;
}

.section-bg {
  background: #f5f8fd;
}

.page-title h1 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
  position: relative;
}

.page-title h1::after {
  content: "";
  position: absolute;
  display: block;
  width: 60%;
  height: 3px;
  bottom: 0;
  left: 20%;
  background-color: var(--bs-primary);
}

.page-title p {
  margin-bottom: 0;
}

.egg img {
  filter: drop-shadow(0px 0px 5px var(--bs-light));
}

.card {
	border: 1px solid var(--bs-body-color);
}

.card.disabled {
	filter: brightness(0.5) grayscale(1);
}

.card-body {
	background: var(--bs-light);
}

.card .birdypets {
	margin: 0;
}

.birdypet {
  height: 300px;
  background-color: #ffffff;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.birdypet h6 {
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media (max-width: 1399px) {
  #exchange .birdypet {
	  height: 200px;
  }
}

@media (max-width: 1119px) {
  .birdypet {
    height: 200px;
  }
}

@media (max-width: 576px) {
  .birdypet {
    height: 150px;
  }
}

.birdypet.mini {
  cursor: pointer;
  height: 50px;
  width: 50px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  filter: none;
}

.birdypet.mini.disabled {
  cursor: auto;
}

.birdypet.full {
  max-height: 600px;
  height: auto;
}

.birdypet.unhatched {
  filter: saturate(0%);
}

.birdypet.checkmark1::after,
.birdypet.checkmark2::after,
span.checkmark, span.checkplus {
  width: 25px;
  height: 25px;
  background-size: contain;
  background-image: url('/img/checkmark.png');
  background-repeat: no-repeat;
}

span.checkmark, span.checkplus {
  display: inline-block;
  vertical-align: middle;
}

.birdypet.checkmark2::after, span.checkplus {
  width: 40px;
  background-image: url('/img/checkplus.png');
}

.birdypet.checkmark1::after,
.birdypet.checkmark2::after {
  content: ' ';
  position: absolute;
  bottom: 0;
  right: 0;
}

.wishlist-heart {
  position: absolute;
  top: 3px;
  right: 3px;
  z-index: 100;
}

button.wishlist-heart:hover {
}

.birdymessage {
  position: absolute;
  top: -50px;
  right: 0;
  border-radius: 10px 10px 10px 0;
  background: rgba(255, 255, 255, .9);
  padding: 10px;
  width: 50%;
}

.birdymessage::before {
  content: '💬';
  position: absolute;
  bottom: -10px;
  left: -10px;
}

.feature-flock {
  filter: grayscale(1);
}

.feature-flock.featured {
  filter: grayscale(0);
}

.incubator h3 {
	background-image: url('https://storage.googleapis.com/squawkoverflow/eggs/D/default.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

.progress-bar {
	overflow: visible;
	text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black;
}

span.twitter-typeahead .tt-menu {
  cursor: pointer;
}

.dropdown-menu,
span.twitter-typeahead .tt-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  width: 100%;
  max-height: 300px;
  overflow: auto;
  padding: 5px 0;
  margin: -1px 0 0;
  font-size: 1rem;
  text-align: left;
  list-style: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  background-color: #ffffff;
  color: #212529;
}

span.twitter-typeahead .tt-suggestion {
  display: block;
  width: 100%;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.5;
  text-align: inherit;
  white-space: nowrap;
  background: none;
  border: 0;
}

span.twitter-typeahead .tt-suggestion:focus,
.dropdown-item:hover,
span.twitter-typeahead .tt-suggestion:hover {
  text-decoration: none;
}

span.twitter-typeahead .active.tt-suggestion,
span.twitter-typeahead .tt-suggestion.tt-cursor,
span.twitter-typeahead .active.tt-suggestion:focus,
span.twitter-typeahead .tt-suggestion.tt-cursor:focus,
span.twitter-typeahead .active.tt-suggestion:hover,
span.twitter-typeahead .tt-suggestion.tt-cursor:hover {
  text-decoration: none;
  outline: 0;
}

span.twitter-typeahead .disabled.tt-suggestion,
span.twitter-typeahead .disabled.tt-suggestion:focus,
span.twitter-typeahead .disabled.tt-suggestion:hover {
}

span.twitter-typeahead .disabled.tt-suggestion:focus,
span.twitter-typeahead .disabled.tt-suggestion:hover {
  text-decoration: none;
  cursor: not-allowed;
  background-image: none;
  filter: "progid:DXImageTransform.Microsoft.gradient(enabled = false)";
}

span.twitter-typeahead {
  width: 100%;
}

.input-group span.twitter-typeahead {
  display: block !important;
}

.input-group span.twitter-typeahead .tt-menu {
  top: 2.375rem !important;
}

.loadingData {
  position: relative;
  transform: translateZ(0);
}

.loadingData>* {
  opacity: 0.5;
}

.loadingData::after {
  content: " ";
  position: absolute;
  z-index: 9999;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  display: inline-block;
  text-align: center;
  width: 3.25em;
  height: 3.25em;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url('/img/eggtime.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 100px;
  animation: loadingData 2s ease-in-out infinite;
}

input.loadingData::after {
  font-size: 1em;
}

@keyframes loadingData {
  40% {
    transform: rotate(-30deg);
  }

  45% {
    transform: rotate(35deg);
  }

  50% {
    transform: rotate(-30deg);
  }

  55% {
    transform: rotate(-35deg);
  }

  60% {
    transform: rotate(0);
  }
}
