html, body {
  height: 100%;
  min-height: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Segoe UI";
	font-weight: 300;
}

main {
  min-height: 100%;
}

.chartreuse {
  color: #DDF600;
}

.chartreuse-underline {
	border-bottom: 5px solid #DDF600;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

nav .brand-logo {
	font-size: inherit;
}

nav .brand-logo img {
	height: 64px;
	width: 64px;
	vertical-align: middle;
}

nav .brand-logo h4 {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 15px;
}

.member-avatar { 
	vertical-align: middle;
	border-radius: 100%;
}

.member-badge::before {
	display: inline-block;
	font-size: 2.5em;
}

.member-badge[data-badge="founder"]::before {
	content: "\1F996";
}

#home-banner {
	position: relative;
	height: 600px;
}

#home-banner h1 {
	margin: 0 0 0 20%;
	font-size: 4em;
}

#home-banner p:nth-child(1) {
	margin: 15% 0 0 18%;
	font-size: 1.25em;
}

#home-banner p:nth-child(5) {
	margin: 0 0 0 33%;
	font-size: 1.5em;
	letter-spacing: 4px;
}

.carousel-item-inner {
	display: flex;
	justify-content: center;
}

.carousel-photo {
	margin: 0;
	padding: 0;
}

.carousel-photo img {
	height: 150px;
}

@media (min-width: 768px) { 
	.carousel-photo img {
	height: 300px;
}
}

.carousel-control-next, .carousel-control-prev {
	background: rgba(0, 0, 0, .75);
	width: 5%;
}

.image-gallery {
  line-height: 0;
   
  -webkit-column-count: 4;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         4;
  column-gap:           0px;  
}

.image-gallery img {
  width: 100% !important;
  height: auto !important;
}

.birdypet {
	height: 300px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.birdypet-unhatched {
	filter: saturate(0%) brightness(55%) contrast(1000%);
}

select {
	width: 100%;
}

.full-image-background {
	background-position: center center;
	background-size: cover;
}

#home-banner h1, #home-banner p,
.not-found h1, .not-found p,
.full-image-background .attribution {
	display: inline-block;
	background: rgba(255, 255, 255, .9);
	padding: 10px;
}

.not-found h1 {
	font-size: 4em;
}

.not-found p {
	font-size: 2em;
}

.full-image-background .attribution {
	position: absolute;
	font-size: .8em;
	bottom: 15px;
	right: 15px;
	opacity: .75;
	color: rgb(100, 100, 100);
}
