.bg-primary, .btn-primary {
	background-color: #475011 !important;
}

.btn-primary, .btn-outline-primary {
	border-color: #252520 !important;
}

.btn-primary:hover, .btn-outline-primary:hover,
.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary:active {
	background-color: #1F1F17 !important;
}

.btn-outline-primary {
	color: #1F1F17;
}

.btn-dark:active, .btn-dark:active:focus, .btn-dark:focus {
    background-color: #212529;
    border-color: #212529;
}
