:root {
    --bs-body-color: #ffffff;
    --bs-body-color-rgb: 255,255,255;
    --bs-body-bg: #323743;
    --bs-body-bg-rgb: 50,55,67;
    --bs-light: #272b34;
    --bs-light-rgb: 39,43,52;
    --bs-dark: #1d2126;
    --bs-dark-rgb: 29,33,38;
}

.bg-white,
.birdypet, .birdypets,
.birdypet.mini,
.birdymessage,
.form-control, .form-check-input, .form-select,
.dropdown-menu,
span.twitter-typeahead .tt-menu {
        filter: brightness(.80);
}

.birdypet.unhatched,
.birdypet.mini.unhatched {
        filter: saturate(0%) brightness(.80);
}

.birdypets .birdypet.mini {
        filter: none;
}

.birdypets .birdypet.mini.unhatched {
        filter: saturate(0%);
}
