:root {
    --bs-body-color: #ffffff;
    --bs-body-color-rgb: 255,255,255;
    --bs-body-bg: #121212;
    --bs-body-bg-rgb: 18,18,18;
    --bs-light: #404040;
    --bs-light-rgb: 64,64,64;
    --bs-dark: #000000;
    --bs-dark-rgb: 0,0,0;
}

.bg-white,
.birdypet, .birdypets,
.birdypet.mini,
.birdymessage,
.form-control, .form-check-input, .form-select,
.dropdown-menu,
span.twitter-typeahead .tt-menu,
.ss-main {
        filter: brightness(.80);
}

.birdypet.unhatched,
.birdypet.mini.unhatched {
        filter: saturate(0%) brightness(.80);
}

.birdypets .birdypet.mini {
        filter: none;
}

.birdypets .birdypet.mini.unhatched {
        filter: saturate(0%);
}
