<div class="col-6 col-md-4 d-flex align-items-stretch">
  <div class="w-100 pb-3 px-2">
    <div class="h-100 card <% if (locals.loggedInUser && locals.page && page == 'manageFlock' && loggedInUser.id == member.id) { %>${model.flocks.includes('<%= flock.id %>') ? 'border-primary' : 'border-secondary border-dashed border-2'}<% } %>">
      <% if (locals.loggedInUser) { %>
        <button class="wishlist-heart btn btn-sm" data-id="${model.bird.code}" role="button">
          ${model.bird.wishlisted ? (model.bird.wishlisted == 2 ? '🌟' : '❤️') : '🤍'}
        </button>
      <% } %>
      <div>
        <a href="/birdypet/${model.id}">
          <div class="bg-white lazy birdypet <% if ((locals.page && page != 'aviary') || (locals.loggedInUser && loggedInUser.id != member.id)) { %>checkmark${model.bird.owned == 2 ? 2 : model.bird.owned}<% } %>"
               data-id="${model.id}"
               data-bg="${model.variant.image}"
          ></div>
        </a>
      </div>
      <div class="card-body">
        <h3 class="text-center"><a href="/birdypet/${model.id}">${model.nickname ? model.nickname : model.bird.commonName}</a></h3>
        <h6 class="text-center">${model.nickname ? model.bird.commonName : (model.variant.label ? model.variant.label : '&nbsp;')}</h6>
      </div>
    </div>
  </div>
</div>
