<div class="col-6 col-md-4">
  <div class="pb-4">
    <div class="card">
      <div class="lazy birdypet"
           data-id="${birdypet._id}"
           data-bg="${birdypet.image}"
      ></div>
      <h3 class="text-center"><a href="/birdypet/${birdypet.id}">${birdypet.nickname ? birdypet.nickname : birdypet.species.commonName}</a></h3> 
      <h6 class="text-center">${birdypet.version}&nbsp;${birdypet.label}</h6>
    </div>
  </div>
</div>
