<div class="col-6 col-md-4 d-flex align-items-stretch">
  <div class="w-100 pb-4">
    <div class="h-100 card">      
      <a class="wishlist-heart">
        ${bird.wishlisted ? '❤️' : ''}
      </a>
      <div>
        <a href="/birdypet/gift/${bird._id}?member=<%= member._id %>">
          <div class="bg-white lazy birdypet checkmark${bird.checkmark}"
               data-id="${bird._id}"
               data-bg="${bird.image}"
          ></div>
        </a>
      </div>
      <div class="card-body align-top">
        <h3 class="text-center"><a href="/birdypet/gift/${bird._id}?member=<%= member._id %>">${bird.nickname ? bird.nickname : bird.species.commonName}</a></h3> 
        <h6 class="text-center">${bird.nickname ? bird.species.commonName : (bird.label ? bird.label : '&nbsp;')}</h6>
      </div>
    </div>
  </div>
</div>
