<div class="card py-2 px-4 mb-4">
  <div class="row">
    <div class="col-12">
      <h3>
        <img class="rounded-circle" src="${model.avatar}" onerror="missingMemberAvatar(this)" width="42">
        ${model.username}
      </h3>
    </div>
  </div>
</div>
