<div data-id="${model.id}">
  <div class="card bg-light border-dark p-2 mb-4">
    <div class="row align-items-center">
      <div class="col-4 col-md-2 col-lg-1 text-center">
        <span class="fs-2">
          ${model.icon}
        </span>
      </div>
      <div class="col-8 col-lg-9">
        ${model.text}
      </div>
      <div class="col-12 col-md-2 col-lg-2 text-end">
        <a class="btn btn-sm btn-dark" data-action="dismiss">Dismiss</a>
      </div>
    </div>
  </div>
</div>
