<div class="col-6 col-md-4 d-flex align-items-stretch">
  <div class="w-100 pb-4">
    <div class="h-100 card">      
      <% if (locals.loggedInUser && loggedInUser._id == member._id) { %>
      <button class="wishlist-heart btn btn-light btn-sm" data-id="${bird.speciesCode}" data-action="remove" role="button">
        ❤️
      </button>
      <% } %>
      <div>
        <div class="bg-white lazy birdypet ${bird.hatched ? "hatched" : "unhatched"}"
             data-bg="${bird.variants[0].image}"
        ></div>
      </div>
      <div class="card-body">
        <h3 class="text-center">
          <a
            <% if (locals.loggedInUser && loggedInUser._id == member._id) { %>${bird.hatched ? `href="/aviary/<%= loggedInUser._id %>?search=${bird.commonName}"` : ``}<% } %>
            <% if (locals.loggedInUser && loggedInUser._id != member._id) { %>${bird.hatched ? `href="/members/<%= member._id %>/gift?search=${bird.commonName}"` : ``}<% } %>
          >
            ${bird.commonName}
          </a>
        </h3> 
      </div>
    </div>
  </div>
</div>
