<script type="text/javascript">
  var egg, bird;

  $(document).ready(function () {
    var eggs = document.getElementById('eggs');
    var hatched = document.getElementById('hatched');
    var actions = document.getElementById('actions');
    var birdy = document.getElementById('birdy');

    $(eggs).one('click', 'a[data-egg]', function (e) {
      egg = e.currentTarget.getAttribute('data-egg');

      eggs.classList.add('loadingData');

      API.call('<%= page == 'incubate' ? 'incubate' : 'hatch' %>', 'POST', { egg : egg }, function (data) {
       <% if (page == 'hatch') { %>
        bird = data;
        hatched.querySelector('h1').innerHTML = hatched.querySelector('h1').innerHTML.replace('%adjective%', egg);
       <% } else { %>
         bird = data.bird;
         bird.variants = [data];
       <% } %>

        birdy.setAttribute('src', bird.variants[0].image);
        birdy.setAttribute('data-id', bird.variants[0].id);

        var birdDisplay = document.getElementById('birdDisplay');

        if (bird.variants.length > 1) {
          birdDisplay.innerHTML = bird.variants.map(function (variant) { return '<div data-id="' + variant.id + '" data-image="' + variant.image + '" class="birdypet mini checkmark' + (variant.hatched >= 2 ? 2 : variant.hatched) + '" style="background-image: url(' + variant.image + ')"></div>'; }).join("");
        }
        else {
          birdDisplay.innerHTML = '';
        }

        var h3 = hatched.querySelector('h3').querySelector('a');
        h3.setAttribute('href', `/birdypedia/bird/${bird.code}`);
        h3.innerHTML = bird.commonName;

        var h6 = hatched.querySelector('h6');
        var text = "";

        if (variant.owned > 1) {
          text += `<div><span class="checkplus"></span> <em>You have more than one of this species</em></div>`;
        }
        else if (variant.owned == 1) {
          text += `<div><span class="checkmark"></span> <em>You have this species</em></div>`;
        }

        if (bird.wishlisted) {
          switch (variant.wishlisted) {
            case 2:
              text += `<div>🌟 <em>You need this bird!</em></div>`;
              break;
            case 1:
              text += `<div>❤️ <em>You want this bird!</em></div>`;
              break;
           }
        }

        h6.innerHTML = text;

        eggs.classList.remove('loadingData');
        eggs.classList.add('d-none');

        hatched.classList.remove('d-none');
      });
    });

    $('#hatched').on('click', '.birdypet.mini', function (event) {
      var variant = event.target;

      birdy.src = variant.getAttribute('data-image');
      birdy.setAttribute('data-id', variant.getAttribute('data-id'));
    });

    $(actions).on('click', '[data-action]', function (e) {
      var button = e.currentTarget;

      if (!button.style.opacity && !button.disabled) { 
        var action = button.getAttribute('data-action');

        actions.classList.add('loadingData');
        actions.innerHTML = "";

        switch (button.getAttribute('data-action')) {
          case "keep":
            $.ajax({
              cache: false,
              url: `/api/collect`,
              data: JSON.stringify({
                variant: hatched.querySelector('img').getAttribute('data-id'),
                adjective : egg
              }),
              dataType: "json",
              contentType: 'application/json',
              method: "POST",
              success: function(birdypet) {
                actions.classList.remove('loadingData');
                actions.innerHTML = `<a class="btn btn-lg bg-light mb-3" href="/birdypet/${birdypet.id}">🐣 View BirdyPet</a>&nbsp;<a class="btn btn-lg bg-light mb-3" href="/hatch">🥚 Hatch Another Egg</a>`;
              },
              error: function(XMLHttpRequest, textStatus, errorThrown) {
                actions.classList.remove('loadingData');
                actions.innerHTML = '<em>Something went wrong!  Please <a href="https://bugs.squawkoverflow.com/?member=<%= loggedInUser.id %>" target="_blank">submit a bug report</a> so someone can look into it.</em>';
              }
            });
            break;
          case "release":
            $.ajax({
              cache: false,
              url: `/api/release`,
              data: JSON.stringify({
                variant : hatched.querySelector('img').getAttribute('data-id')
              }),
              dataType: "json",
              contentType: 'application/json',
              method: "POST",
              success: function(data) {
                window.location.reload();
              }
            });
            break;
          case 'gift':
            $.ajax({
              cache: false,
              url: '/api/gift',
              data: JSON.stringify({
                member : selectedMember.id,
                variant : hatched.querySelector('img').getAttribute('data-id')
              }),
              dataType: "json",
              contentType: 'application/json',
              method: "POST",
              success: function(data) {
                window.location.reload();
              }
            });
            break;
        }
      }
    }); 
  });
</script>
