<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.appear/0.4.1/jquery.appear.min.js" integrity="sha512-vYYoQJKYzaJQaOaYxaJhhmxikOJ2SEgHwmCNa0EMP0aRr7opdt4HHrorAwnCyPm8bdW/JBApIomo85YaBX81zA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  var urlParams = new URLSearchParams(window.location.search);
  var container = document.getElementById('lazyLoader');
  var endpoint = container.getAttribute('data-endpoint');
  var search = document.getElementById('search');
  var page = 1;
  var timeout;

  function template (bird) {
    return `<%- include(locals.template ? template : '../templates/birdypet.ejs') %>`;
  }

  $(document).ready( function () {
    var preset = Object.fromEntries(urlParams.entries());

    for (var key in preset) {
      $(`#${key}`).val(preset[key]);
    }

    updateResults();

    $('select', '#controls').on('change', resetResults);

    $('#search').on('change', function () {
      clearTimeout(timeout);

      timeout = setTimeout(resetResults, 500);
    });
  });

  function resetResults () {
    container.innerHTML = "";
    page = 1;
    updateResults();
  }

  function updateResults () {
    container.classList.add('loadingData');

    var sort = $('#sort option:selected');
    var flock = $('#flock option:selected');

    <% if (!locals.skipParams) { %>
    $('select:visible', '#controls').each( (i, select) => {
      var value = select.options[select.options.selectedIndex].value;

      if (value) {
        urlParams.set(select.id, select.options[select.options.selectedIndex].value);
      }
      else {
        urlParams.delete(select.id);
      }
    });

    window.history.replaceState(null, '', window.location.pathname + '?' + urlParams.toString());
    <% } %>

    $.ajax({
      url: endpoint,
      data: {
        sort: [sort.val(), sort.attr('data-dir')],
        page: page++,
        family : $('#family').is(':visible') ? $('#family').val() : "",
        flock : flock && !flock.attr('data-special') ? flock.val() : "",
        adjectives : $('#adjectives').is(':visible') ? $('#adjectives').val() : "",
        search : $('#search').val()
      },
      method: "GET",
      dataType: "json",
      success: function (data) {
        if (data.length > 0 ) {
          for (var i = 0, len = data.length; i < len; i++) {
            container.innerHTML += template(data[i]);
          }

          lazyLoadInstance.update();

          var lastElement = $('#lazyLoader > div').last();

          if (lastElement.is(':appeared')) {
            updateResults();
          }
          else {
            container.classList.remove('loadingData');
            lastElement.appear().one('appear', function (event) {
              updateResults();
            });
          }
        }
        else {
          container.classList.remove('loadingData');

          if (container.childNodes.length == 0) {
             container.innerHTML = '<p class="text-center"><em><%= locals.noResultsFound ? noResultsFound : 'No birdies match the selected criteria.  Where could they be hiding?' %></em></p>';
          }
        }
      }
    });
  }
</script>
