<script type="text/javascript">
  var selectedMember = null;
  var _TRAPCARD = false;

  $(document).ready(function () {
    var memberSearch = $('#memberSearch .typeahead');
    var memberButton = $('#memberButton');
    var memberDisplay = $('#memberDisplay');

    memberSearch.typeahead({
      hint: true,
      highlight: true,
      minLength: 0
    },
    {
      name: 'members',
      displayKey: 'username',
      async: true,
      source: function (query, syncResults, asyncResults) {
        return new Promise((resolve, reject) => {
          if (_TRAPCARD) {
            _TRAPCARD = false;
            return resolve([]);
          }

          let data = {
            search: query,
            include: <%- JSON.stringify(locals.include ? include : []) %>,
            bird: <%- locals.bird ? bird : '""' %>,
            privacy: <%- JSON.stringify(locals.privacy ? privacy : []) %>
          };

          let cache = sessionStorage.getItem(`members-${JSON.stringify(data)}`);
 
          if (cache) {
            resolve(JSON.parse(cache));
          }
          else {
            $.ajax({
              url: '/api/members',
              data: data,
              success: function (results) {
                sessionStorage.setItem(`members-${query}-${JSON.stringify(data)}`, JSON.stringify(results));
                resolve(results);
              }
            });
          }
        }).then((results) => {
          try {
            let wants = document.getElementById('member-wants').checked;
            let needs = document.getElementById('member-needs').checked;

            if (wants && needs) {
              results = results.filter((result) => result.wishlisted > 0);
            }
            else if (wants || needs) {
              results = results.filter((result) => result.wishlisted == (wants ? 1 : 2));
            }
          } catch (err) { }

          asyncResults(results);
        });
      },
      limit: Infinity,
      templates: {
        empty: function () {
          return '<div class="px-1 py-2"><em>No members found.</em></div>';
        },
        suggestion: function (data) {
          var text = '<div class="px-1 py-2">';

          text += `<img src="${data.avatar}" class="rounded-circle" width="42" onerror="missingMemberAvatar(this)"> ${data.username}`;

          if (data.owned > 1) {
            text += `<div class="small ms-5"><span class="checkplus"></span> <em>Multiple in aviary</em></div>`;
          }
          else if (data.owned == 1) {
            text += `<div class="small ms-5"><span class="checkmark"></span> <em>In aviary</em></div>`;
          }

          if (data.wishlisted) {
            switch (data.wishlisted) {
              case 2:
                text += `<div class="small ms-5">🌟 <em>Needs it</em></div>`;
                break;
              case 1:
                text += `<div class="small ms-5">❤️ <em>Wants it</em></div>`;
                break;
            }
          }

          text += '</div>';

          return text;
        }
      }
    }).on('typeahead:selected', function (obj, member) {
      selectedMember = member;

      if (member) {
        memberDisplay.html(`<h3><img src="${member.avatar}" class="rounded-circle" width="75" data-id="${member.id}" onerror="missingMemberAvatar(this)"> ${member.username}</h3>`);
        memberButton.attr('disabled', false);
      }
      else {
        memberDisplay.html("");
        memberButton.attr('disabled', true);
      }
    }).on('typeahead:autocomplete', function (obj, member) {
      selectedMember = member;

      if (member) {
        memberDisplay.html(`<h3><img src="${member.avatar}" class="rounded-circle" width="75" data-id="${member.id}" onerror="missingMemberAvatar(this)"> ${member.username}</h3>`);
        memberButton.attr('disabled', false);
      }
      else {
        memberDisplay.html("");
        memberButton.attr('disabled', true);
      }
    });

    $('#memberSearch').on('change', 'input[type="checkbox"]', function () {
      let query = memberSearch.typeahead('val');

      _TRAPCARD = true;

      memberSearch.typeahead('val', '.').typeahead('val', query);
    });
  });
</script>
