<script type="text/javascript">
  var memberSearch, memberButton, memberDisplay, _CACHE;
  var selectedMember = <%- locals.selectedMember ? JSON.stringify(selectedMember) : 'null' %>;
  var _TRAPCARD = false;

  $(document).ready(function () {
    memberSearch = $('#memberSearch .typeahead');
    memberButton = $('#memberButton');
    memberDisplay = $('#memberDisplay');

    setupMemberSearch();

    $('#memberSearch').on('change', 'input[type="checkbox"]', function () {
      let query = memberSearch.typeahead('val');

      _TRAPCARD = true;

      memberSearch.typeahead('val', '.').typeahead('val', query);
    });
  });

  function setupMemberSearch () {
    memberSearch.typeahead({
      hint: false,
      highlight: true,
      minLength: 0
    },
    {
      name: 'members',
      displayKey: 'username',
      async: true,
      source: function (query, syncResults, asyncResults) {
        return new Promise((resolve, reject) => {
          if (_TRAPCARD) {
            _TRAPCARD = false;
            return resolve([]);
          }

          let data = {
            bird: $('#memberSearch').attr('data-bird') || "",
            <%- locals.include ? `include: ${JSON.stringify(include)},` : "" %>
            <%- locals.privacy ? `privacy: ${JSON.stringify(privacy)},` : "" %>
          };

          if (_CACHE) {
            resolve(_CACHE);
          } else {
            API.call('members', 'GET', data, function (results) {
              _CACHE = results;

              resolve(results);
            });
          }
        }).then((results) => {
          try {
            let wants = document.getElementById('member-wants').checked;
            let needs = document.getElementById('member-needs').checked;
            let active = document.getElementById('member-active').checked;

            if (wants && needs) {
              results = results.filter((result) => result.wishlisted > 0);
            }
            else if (wants || needs) {
              results = results.filter((result) => result.wishlisted == (wants ? 1 : 2));
            }

            if (active) {
              let twoMonthsAgo = new Date();
              twoMonthsAgo.setMonth(twoMonthsAgo.getMonth() - 2);

              results = results.filter((result) => new Date(result.lastActivityAt).getTime() >= twoMonthsAgo.getTime());
            }
          } catch (err) { }

          var matches, substringRegex;

          matches = [];

          substrRegex = new RegExp(query, 'i');

          $.each(results, function(i, result) {
            if (substrRegex.test(result.username)) {
              matches.push(result);
            }
          });

          asyncResults(matches.sort((a, b) => {
            if (a.wishlisted || a.owned) {
              if (a.wishlisted == b.wishlisted && a.owned == b.owned) {
                return new Date(b.lastActivityAt).getTime() - new Date(a.lastActivityAt).getTime()
              }
              else if (a.wishlisted != b.wishlisted) {
                return b.wishlisted - a.wishlisted;
              } else {
                return a.owned - b.owned;
              }
            } else {
              return a.username.localeCompare(b.username);
            }
          }));
        });
      },
      limit: Infinity,
      templates: {
        empty: function () {
          return '<div class="px-1 py-2"><em>No members found.</em></div>';
        },
        pending: function () {
          return '<div class="mx-1 fst-italic"><div class="spinner-border spinner-border-sm" role="status"></div> Searching...</div>';
        },
        suggestion: function (data) {
          var text = '<div class="px-1 py-2">';

          text += `<img src="${data.avatar}" class="rounded" width="42" onerror="missingMemberAvatar(this)"> ${data.username}`;

          if (data.lastActive) {
            text += `<div class="small ms-5">Last active: ${data.lastActive}</div>`;
          }

          if (data.owned > 1) {
            text += `<div class="small ms-5"><span class="checkplus"></span> <em>Multiple in aviary</em></div>`;
          }
          else if (data.owned == 1) {
            text += `<div class="small ms-5"><span class="checkmark"></span> <em>In aviary</em></div>`;
          }

          if (data.wishlisted) {
            switch (data.wishlisted) {
              case 2:
                text += `<div class="small ms-5">🌟 <em>Needs it</em></div>`;
                break;
              case 1:
                text += `<div class="small ms-5">❤️  <em>Wants it</em></div>`;
                break;
            }
          }

          text += '</div>';

          return text;
        }
      }
    }).on('typeahead:selected', function (obj, member) {
      selectedMember = member;

      updateMemberDisplay();
    }).on('typeahead:autocomplete', function (obj, member) {
      selectedMember = member;

      updateMemberDisplay();
    }).on('typeahead:change', function (obj, member) {
      if (selectedMember.username != member) {
        selectedMember = null;

        updateMemberDisplay();
      }
    });

    function updateMemberDisplay() {
      if (selectedMember) {
        memberDisplay.html(`<img src="${selectedMember.avatar}" class="rounded" width="45" data-id="${selectedMember.id}" onerror="missingMemberAvatar(this)">`);
        memberButton.attr('disabled', false);
      }
      else {
        memberDisplay.html("");
        memberButton.attr('disabled', true);
      }
    }
  }
</script>
