  var paginations = document.querySelectorAll('.pagination');

  function updatePagination () {
    var content = "";


    if (currentPage == 1) {
      content += '<li class="page-item disabled"><span class="page-link">&#x2329;</span><li>';
    }
    else {
      content += `<li class="page-item"><a class="page-link" data-page="${currentPage - 1}" role="button">&#x2329;</a><li>`;
    }

    content += '<select class="page-select">';
      for (let i = 1, len = totalPages; i <= len; i++) {
        content += '<option value="' + i + '"' + (i == currentPage ? 'selected' : '') + '>' + i + (i == currentPage ? ' of ' + totalPages : '') + '</option>';
      }
    content += '</select>';

    if (currentPage == totalPages) {
      content += '<li class="page-item disabled"><span class="page-link">&#x232A;</span><li>';
    }
    else {
      content += `<li class="page-item"><a class="page-link" data-page="${currentPage + 1}" role="button">&#x232A;</a><li>`;
    }

    for (let pagination of paginations) {
      pagination.innerHTML = content;

      if (typeof totalResults !== 'undefined' && totalResults != null) {
        pagination.nextElementSibling.innerHTML = `${totalResults.toLocaleString("en-US")} <%= locals.noun ? noun : 'bird' %>s found`;
        pagination.parentNode.style.visibility = 'visible';
      }
      else {
        pagination.nextElementSibling.innerHTML = '';
        pagination.parentNode.style.visibility = 'hidden';
      }
    }
  }
