  var paginations = document.querySelectorAll('.pagination');

  function updatePagination () {
    var content = "";

    if (currentPage > 2) {
      content += `<li class="page-item"><a class="page-link" <%- locals.linkTo ? `href="${linkTo}?page=1"` : '' %> role="button">1</a></li>`;
    }

    if (currentPage > 3) {
      content += `<li class="page-item disabled"><span class="page-link">...</span></li>`;
    }

    for (let i = Math.max(1, currentPage - 1), len = Math.min(totalPages, currentPage + 1); i <= len; i++) {
      content += `<li class="page-item${currentPage == i ? ' active' : ''}"><a class="page-link" <%- locals.linkTo ? `href="${linkTo}?page=\$\{i\}"` : '' %> role="button">${i}</a></li>`;
    }

    if (currentPage < totalPages - 2) {
      content += `<li class="page-item disabled"><span class="page-link">...</span></li>`;
    }

    if (currentPage < totalPages - 1) {
      content += `<li class="page-item"><a class="page-link" <%- locals.linkTo ? `href="${linkTo}?page=\$\{totalPages\}"` : '' %> role="button">${totalPages}</a></li>`;
    }

    for (let pagination of paginations) {
      pagination.innerHTML = content;

      if (typeof totalResults !== 'undefined' && totalResults != null) {
        pagination.nextElementSibling.innerHTML = `${totalResults.toLocaleString("en-US")} <%= locals.noun ? noun : 'bird' %>s found`;
      }
      else {
        pagination.nextElementSibling.innerHTML = '';
      }

      pagination.parentNode.style.visibility = 'visible';
    }
  }
