<%- include('../header.ejs') %>

  <div class="text-center pb-4 mx-auto w-75">
    <h1 class="bg-light mt-5 mb-0 p-4 border-bottom border-primary border-5"><strong>Contact Us</strong></h1>
    <div class="bg-light p-4">

      <h4>💬 Discord</h4>
      <p><a href="https://discord.com/invite/h87wansdg2" target="_blank">https://discord.com/invite/h87wansdg2</a></p>
      <p>Fastest response times during 6AM-8PM UTC-5.</p>

      <p>&nbsp;</p>

      <h4>📧 Email</h4>
      <p><a href="mailto:contact@squawkoverflow.com" target="_blank">contact@squawkoverflow.com</a></p>
      <p>Slower response time, may take up to 24 hours.</p>
    </div>
  </div>

<%- include('../footer.ejs') %>
