<%- include('../header.ejs') %>

    <div class="row mb-5 text-center">
      <div class="col-md-4">
        <h1>🥚</h1>
        <h3>hatch</h3>

        <p></p>

        <div class="col-md-6 mx-auto">
          <p>Blue eggs, green eggs, tiny eggs, massive eggs—we have them all!</p>
          <p>With over 23,000 birds that you can hatch, every egg is an opportunity to discover a new species.</p>
        </div>
      </div>

      <div class="col-md-4">
        <h1>❤️</h1>
        <h3>collect</h3>

        <p></p>

        <div class="col-md-6 mx-auto">
          <p>Organize birds into flocks by color, theme, meme, or however you like!</p>
          <p>Whether you want to have every single bird or just your favorites, make your aviary your own.</p>
        </div>
      </div>

      <div class="col-md-4">
        <h1>🤝</h1>
        <h3>connect</h3>

        <p></p>

        <div class="col-md-6 mx-auto">
          <p>Join our Discord server to meet bird lovers from all over the world!</p>
          <p>We have a friendly community that enjoys sharing bird pics, talking about birds... anything and everything bird.</p>
        </div>
      </div>
    </div>

<%- include('../footer.ejs') %>
