<%- include('../header.ejs') %>

  <%- include('../partials/page-title.ejs', { title: "Terms of Service" }) %>

  <p>More formal Terms of Service will be written in the future, but in general: Do not engage in any activity that is malicious or harmful to other users, including but not limited to disruption or abuse of the site.</p>

<%- include('../footer.ejs') %>
