<%- include('../header.ejs') %>

  <%- include('../partials/page-title.ejs') %>

  <div class="text-center w-75 m-auto mb-5">
    <p><%= game.description %></p>
  </div>

  <div id="game" class="text-center row mx-0 px-0">
    <div class="col-md-6 col-lg-8 m-auto mb-5">
      <img id="whatthebird-picture" class="mb-2">
      <em id="whatthebird-citation" class="small text-muted"></em>
    </div>

    <div id="whatthebird-orders" class="row justify-content-center mb-4"></div>
    <div id="whatthebird-families" class="row justify-content-center hidden"></div>

    <div id="result" class="row hidden">
      <div id="result-answer" class="col-md-6 mb-5 pb-3">
        <h5>This bird is...</h5>
        <h3 id="result-bird"></h3>
        <h6 id="result-taxonomy"></h6>

        <a href="/games/whatthebird" class="btn btn-dark mt-4">🔀 Play again!</a>
      </div>

      <div id="result-birdypet" class="col-md-6 position-relative hidden">
        <img src="" class="birdypet">
        <span class="birdymessage border border-1 border-secondary"></span>
        <p class="friendshipMeter"></p>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    var gameData;

    $(document).ready(function () {
      $('#game').addClass('loadingData');

      // Yes, the raw data is returned, so you can easily "cheat"... if that's fun for you, go for it!
      API.call('games/whatthebird', 'GET', {},
        function(response) {
          gameData = response;

          $('#whatthebird-picture').attr('src', gameData.photo.mediaUrl);
          $('#whatthebird-citation').html(`${gameData.photo.userDisplayName} / Macaulay Library at the Cornell Lab of Ornithology (ML${gameData.photo.assetId})`);

          for (let order of gameData.orders) {
            $('#whatthebird-orders').append(`<div class="col-6 col-md-4 mb-3"><a class="btn btn-secondary" data-type="order">${order}</a></div>`);
          }

          for (let family of gameData.families) {
            $('#whatthebird-families').append(`<div class="col-6 col-md-4 mb-3"><a class="btn btn-secondary" data-type="family">${family}</a></div>`);
          }

          $('#game').removeClass('loadingData');
        }
      );

      $('#whatthebird-orders').on('click', '.btn-secondary', processClick);
      $('#whatthebird-families').on('click', '.btn-secondary', processClick);

      function processClick (e) {
        let btn = e.target;
        let value = btn.innerHTML;
        let type = btn.getAttribute('data-type');

        btn.classList.remove('btn-secondary');
        btn.disabled = true;

        if (value == gameData.bird[type]) {
          btn.classList.add('btn-success');

          if (type == "order") {
            $('#whatthebird-families').removeClass('hidden');
          }
          else {
            $('#game').addClass('loadingData');

            const friendship = Math.round(Math.random() * (5 - 1) + 1);

            API.call('birdybuddy', 'POST', { friendship : friendship }, function (birdypet) {
              $('#whatthebird-orders, #whatthebird-families').remove();

              $('#result').removeClass('hidden');

              $('#result-bird').html(`${gameData.bird.commonName} (<em>${gameData.bird.id}</em>)`);
              $('#result-taxonomy').html(`${gameData.bird.order} › ${gameData.bird.family}`);

              if (birdypet.variant) {
                $('#result-birdypet').removeClass('hidden');
                $('.birdypet', '#result-birdypet').attr('src', birdypet.variant.image);
                $('.friendshipMeter', '#result-birdypet').html(birdypet.friendshipMeter);
                $('.birdymessage', '#result-birdypet').html(`That was so much fun! Can we play again? <small><em>(${birdypet.friendship == 100 ? 'Max Friendship' : `+${friendship} Friendship`})</em></small>`);
              }
              else {
                $('#result-answer').removeClass('col-md-6');
              }

              $('#game').removeClass('loadingData');
            });
          }
        }
        else {
          btn.classList.add('btn-danger');
        }
      }
    });
  </script>

<%- include('../footer.ejs') %>
