<%- include('../header.ejs') %>

  <div class="not-found text-center pt-5">
    <div class="mt-5 pt-5">
      <h1 class="mt-5 mb-0 border-bottom border-chartreuse border-5"><strong> S Q U A W K ? !</strong></h1>
    </div>
    <div>
      <p class="fs-3">You stumbled on an error page.  Get the flock out of here!</p>
    </div>
  </div>

  <a id="attribution" target="_blank"></a>

  <script type="text/javascript" src="/js/full-background-image.js" image="error"></script>

<%- include('../footer.ejs') %>
