<%- include('../header.ejs') %>

    <div class="not-found">
      <br><br>
      <h1>SQUAWK?!</h1>
      <br><br>
      <p>You stumbled on an error page.  Get the flock out of here!</p>
    </div>

    <a id="attribution" target="_blank"></a>

<script type="text/javascript" src="/js/full-background-image.js" image="error"></script>

<%- include('../footer.ejs') %>
