<%- include('../header.ejs') %>

    <%- include('../partials/page-title.ejs', { title : 'Free Birds' }) %>

    <p>Look out!  There are birds on the loose!!  They've been released and are running around stealing things for their nests.  Do you have space in your aviary for any of them?</p>

    <div id="lazyLoader" class="row mt-5" data-endpoint="/api/freebirds"></div>

    <%- include('../scripts/lazyloader.ejs', { template: '../templates/freebird.ejs', paginate: 1, skipParams: true }) %>

  <script>
    $('#lazyLoader').on('click', '.card', function () {
      var image = this.querySelector('.birdypet');
      var h3 = this.querySelector('h3');
      var h6 = this.querySelector('h6');

      this.style.cursor = 'default';

      if (!image.parentNode.classList.contains('loadingData') && image.hasAttribute('data-id')) {
        image.parentNode.classList.add('loadingData');

        $.ajax({
          cache: false,
          url: `/api/collect`,
          data: JSON.stringify({
            birdypet: `${image.getAttribute('data-birdypet')}`,
            freebird: `${image.getAttribute('data-id')}`
          }),
          dataType: 'json',
          contentType: 'application/json',
          method: 'POST',
          success: function(data) {
            image.removeAttribute('data-id');
            image.parentNode.classList.remove('loadingData');
            image.style.opacity = .5;

            if (data.error) {
              h6.innerHTML = data.error;
            }
            else {
              h3.innerHTML = `<a href="/birdypet/${data}" target="_blank">${h3.innerText}</a>`;
            }
          }
        });
      }
    });
  </script>

<%- include('../footer.ejs') %>
