<%- include('../header.ejs') %>

  <%- include('../partials/page-title.ejs', { title : "Birdypedia", subtitle: `Eggs - ${selectedLetter}` }) %> 

  <div class="row">
    <div class="col-12 pb-3 text-end">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="progressDisplay" id="progressDisplayPercent" value="percent">
        <label class="form-check-label" for="progressDisplayPercent">%</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="progressDisplay" id="progressDisplayFraction" value="fraction">
        <label class="form-check-label" for="progressDisplayFraction">⁄</label>
      </div>
    </div>
  </div>

  <div id="lazyLoader" class="row g-0" data-endpoint="eggs"></div>

  <%- include('../scripts/lazyloader.ejs', { template: '../templates/egg.ejs', paginate: 1 }) %>

  <script type="text/javascript">
    $(document).ready(function () {
      $('input[name="progressDisplay"]').on('change', updateDisplay);

      $('input[name="progressDisplay"][value="' + (sessionStorage.getItem('progressDisplay') || 'percent') + '"]').click();
    });

    function updateDisplay () {
      let display = $('input[name="progressDisplay"]:checked').val();

      sessionStorage.setItem('progressDisplay', display);

      $('.progress-bar').each((i, bar) => {
        switch (display) {
          case 'percent':
             bar.innerHTML = Math.floor(bar.getAttribute('aria-valuenow') / bar.getAttribute('aria-valuemax') * 100) + '%';
             break;
          case 'fraction':
            bar.innerHTML = bar.getAttribute('aria-valuenow') + '/' + bar.getAttribute('aria-valuemax') ;
            break;
        }
      });
    }
  </script>
 
<%- include('../footer.ejs') %>
