name: SQUAWKtest

on:
  pull_request:
    types: [opened, edited]

jobs:
  notify-squawkers:
    runs-on: ubuntu-latest
    steps:
    - env:
        WEBHOOK_ID: ${{ secrets.WEBHOOK_TEST_ID }}
        WEBHOOK_TOKEN: ${{ secrets.WEBHOOK_TEST_TOKEN }}
        RELEASE_NOTES: ${{ github.event.pull_request.body }}
        PR_TITLE: ${{ github.event.pull_request.title }}
        PR_URL: ${{ github.event.pull_request.url }}
      run: |
        CONTENT=$(echo "$RELEASE_NOTES" | sed -z 's/\r\n/\\r\\n/g;s/\"/\\\"/g')
      curl -X POST -d '{"content":":information_source:  A new deployment has started!  This should only take 3-5 minutes to complete.\r\n** ** ","embeds":[{"title":"'"$PR_TITLE"'","url":"$PR_URL","description":"'"$CONTENT"'"}]}' -H "Content-Type:application/json" "https://discord.com/api/webhooks/$WEBHOOK_ID/$WEBHOOK_TOKEN"
