name: SQUAWKcicd

on:
  pull_request:
    types: [opened, edited]

jobs:
  notify-begin:
    if: github.event.pull_request.merged == false
    runs-on: ubuntu-latest
    steps:
    - name: Post notification
      env:
        WEBHOOK_ID: ${{ secrets.WEBHOOK_ID }}
        WEBHOOK_TOKEN: ${{ secrets.WEBHOOK_TOKEN }}
      run: |
        curl -X POST -d '{"content": "Deployment has started!\r\n\r\n ```${{ github.event.pull_request.body }}```"}' -H "Content-Type:application/json" "https://discord.com/api/webhooks/$WEBHOOK_ID/$WEBHOOK_TOKEN"
