name: SQUAWKcicd

on:
  push

jobs:
  notify-begin:
    runs-on: ubuntu-latest
    steps:
    - name: curl
      env:
        WEBHOOK_ID: ${{ secrets.WEBHOOK_ID }}
        WEBHOOK_TOKEN: ${{ secrets.WEBHOOK_TOKEN }}
      uses: wei/curl@master
      with:
        args: -H "Content-Type: application/json" -d '{"content":"Deployment started"}' "https://discord.com/api/webhooks/$WEBHOOK_ID/$WEBHOOK_TOKEN"
