name: SQUAWKcicd

on:
  pull_request:
    types: [opened, edited]

jobs:
  notify-squawkers:
    if: github.event.pull_request.merged == false
    runs-on: ubuntu-latest
    steps:
    - env:
        WEBHOOK_ID: ${{ secrets.WEBHOOK_ID }}
        WEBHOOK_TOKEN: ${{ secrets.WEBHOOK_TOKEN }}
        RELEASE_NOTES: ${{ github.event.pull_request.body }}
      run: |
        CONTENT=$(echo "$RELEASE_NOTES" | sed -z 's/\r\n/\\r\\n/g;s/\"/\\\"/g')
        curl -X POST -d '{"content":":information_source: <@&913767546048630785>  A new deployment has started!  This should only take a couple minutes to complete.\r\n\r\n-----Release Notes-----\r\n'"$CONTENT"'\r\n\r\n*(to opt in/out of this notification role, please use `/squawkoverflow notifications`)*"}' -H "Content-Type:application/json" "https://discord.com/api/webhooks/$WEBHOOK_ID/$WEBHOOK_TOKEN"

  deploy-api:
    if: github.event.pull_request.merged == false
    steps:
    - uses: actions/checkout@latest
    - uses: google-github-actions/deploy-cloud-functions@latest
      working-directory: ./api
      with:
        name: api
        runtime: nodejs12
        project: squawkoverflow
        credentials: ${{ secrets.GCP_CREDENTIALS }}

  deploy-app:
    if: github.event.pull_request.merged == false
    steps:
      - uses: actions/checkout@latest
      - uses: google-github-actions/auth@latest
        with:
          credentials_json: '${{ secrets.GCP_CREDENTIALS }}'
      - uses: google-github-actions/deploy-appengine

  notify-complete:
    needs: [deploy-api, deploy-ap]
    if: github.event.pull_request.merged == false
    runs-on: ubuntu-latest
    steps:
    - env:
        WEBHOOK_ID: ${{ secrets.WEBHOOK_ID }}
        WEBHOOK_TOKEN: ${{ secrets.WEBHOOK_TOKEN }}
      run: |
        curl -X POST -d '{"content":":information_source: Deployment is complete!  Please report anything amiss using `/bug`.  Thank you!"}' -H "Content-Type:application/json" "https://discord.com/api/webhooks/$WEBHOOK_ID/$WEBHOOK_TOKEN"
