name: SQUAWKcicd

on:
  pull_request:
    types: [opened, edited]

jobs:
  notify-begin:
    if: github.event.pull_request.merged == false
    runs-on: ubuntu-latest
    steps:
    - name: Post notification
      env:
        WEBHOOK_ID: ${{ secrets.WEBHOOK_ID }}
        WEBHOOK_TOKEN: ${{ secrets.WEBHOOK_TOKEN }}
        RELEASE_NOTES: ${{ github.event.pull_request.body }}
      run: |
        CONTENT=$(echo "$RELEASE_NOTES" | sed -z 's/\r\n/\\r\\n/g;s/\"/\\\"/g')
        curl -X POST -d '{"content":"'"$CONTENT"'"}' -H "Content-Type:application/json" "https://discord.com/api/webhooks/$WEBHOOK_ID/$WEBHOOK_TOKEN"
